extends layout

block content
  h1= title
  p DevOps strives to improve the relationship between development and operations teams by advocating for better communication and collaboration between these two sides of buisness.
  p
    |Go back to  
    a(href='/') HOME
