extends layout
block content
  h1= title
  p This is my DevOps application that uses node and express to create a web application.
  p
    |Check out what DevOps is about 
    a(href='/DevOps') Click this link!
    
 
