body {
  padding-left: 200px;
  margin-left: 150px;
  margin-right: 320px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(home.jpg)
}

a {
  color: #00B7FF;
}
h1 {
  margin-left: 140px;
}

